@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
.sidebar{
  position: fixed;
  top : 0;
  height: 100%;
  z-index: 1;
  width: 100%;
  transition: all 0.5s;
  transform: translateX(-100%);

}
.sidebar-open{
  transform: translateX(0);
}
body{
  background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.style1{
  border-right : solid gray 1px;
  background-color: #050505;
background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.align-class{
  padding: 10px;
  text-align: right;
}
.profilePic{
  height : 30px;
  width : 30px;
  margin: 0 0.3rem;
  border-radius: 100%;
}
.crow{
  text-align: center;
  margin :0;
}
.navbar-brand{
  margin : 0 10px;
  font-family: 'Fredoka One', cursive;
  color : #ffffff;
}
.clist{
  font-family: 'Changa', sans-serif;
  margin-top:4rem;
  text-align: justify;
  font-size: 140%;
  list-style: none;
}
.clist li{
  margin : 1rem 0;
}
form.create-task {
  margin : 2rem 0;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-task input,
form.create-task textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-task button {
  background: #2b2828;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.loadingRow{
  text-align: center;
  margin : 10% 0 0 0;
}
.head{
  margin-top: 1rem;
  text-align: right;
}
.align{
  text-align: left;
}
.align-2{
  text-align: right;
}

.task {
  background-color: #7a7a7a;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
}
.task-done{
  background-color: #10bf00;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */  box-shadow: 0 2px 5px #ccc;
border-radius: 7px;  
padding: 10px;
}
.task-h1 {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 6px;
}
.task-p {
  text-align: center;
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.task-btn {
  margin-right: 10px;
  color: #000000;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background:transparent;
} 
.task-style{
  padding: 10px;
}
.buttonbox{
  display: inline;
}
.align-3{
  text-align: center;
}
.no-task{
  margin: 8rem 0;
  transform : scale(10);
  background:transparent;
  color:#7a7a7a;
}
.pending{
  font-family: 'Fredoka One', cursive;
  color :#fff;
}
.alert{
  text-align: center;
  width:50%;
  position: absolute;
  top :1rem;
  right: 25%;
  z-index: 1;
}
.news-item{
  background-color: #7a7a7a;
background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 20px;
  margin: 20px auto; 
  font-family: 'Changa', sans-serif;
}

/**************************cp****************************************************/
.cp{
  color: #686d76;
}
.cp p{
  font-size: 1.1rem;
  color :#c1c0b9;
}
.cp ul{
  font-size: 1.1rem;
  color :#c1c0b9;
}
.cprow{
  text-align: center;
  font-size: 1.5rem;
  margin:0;
  color : #ffffff;
}
.cpp{
  width : 100%;
}
.cpp2{
  width : 100%;
  /* margin: 10%; */
}
.cpguide{
  margin: 3rem 0.2rem;
  word-wrap: break-word;
}
.cphead{
  margin: 5rem 0;
}
.eachComp{
  text-align : center;
  margin :3rem 0;
  color : #ffffff;
}
/**********************quiz***********************/
.align-c{
  text-align: center;
}
.quizli{
  list-style: none;
  margin: 0.8rem 0;
  color :#c1c0b9;
  font-size: 1.3rem;
}
.quiz-ques{
  color: #e0e0e0;
  margin-bottom:2rem ;

}
.margin-c{
  margin:10px 5px;
}

.blogpic{
  height: 14rem;
  width : 14rem;
  opacity: 1;
}
.addpro{
  position: fixed;
  bottom: 4%;
  right :4%;
}
.questions p{
  color: #f8f1f1;
}
.questions h5{
  color: #393e46;
}
.questions a{
  color : #f8f1f1;
}
.padbtn{
  margin: 0 2rem;
}
@media only screen and (max-width: 600px) {
  body{
    text-align: center;
  }
  .alert {
    width:80%;
    right : 10%
  }
  .cpp{
    width : 50%;
  }
  .blogpic{
    height : 6rem;
    width: 6rem;
  }
  .clist{
    font-family: 'Changa', sans-serif;
    margin-top:4rem;
    text-align: justify;
    font-size: 80%;
    list-style: none;
  }

}
